* {
  /* width: auto; */
}

.main-container {
  padding: 15px;
  background: lightgreen;
  border: 5px solid navy;
}

/* this selector selects all divs inside of .flex-container */
.parentflex {
  flex: auto;
  display: flex;
  background: lightblue;
  padding: 15px;
  border: 5px solid orange;
}

.childflex {
  flex: auto;
  display: flex;
  background: lightcoral;
  padding: 15px;
  border: 5px solid purple;
}

.parentflex .grandchildflex {
  flex: auto;
  display: flex;
  background: lightyellow;
  padding: 15px;
  border: 5px solid brown;
}

.childflexmid1 {
  display: inline-flex;
  flex: auto;
  background: lightgray;
  padding: 15px;
  border: 5px solid black;
  margin: 10px 0;
  width: 500px;
  height: 250px;
}


.childflexmid2 {
  display: inline-flex;
  flex: auto;
  background: lightgray;
  padding: 15px;
  border: 5px solid black;
  width: 100%; 
}


