*
*::before,
*::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.main-container {
  display: flex;
  margin: 20px;
  border: 5px solid #000;
  background: orange;
  width: auto;
  height: auto;
  justify-content: center;
}

.parentflex {
  margin: 10px;
  display: flex;
  width: 100%;
  height: 150px;
  border: 5px solid #000;
  background: lightblue;
  justify-content: space-around;
  align-items: center;
}

.childflex {
  margin: 10px;
  display: flex;
  border: 5px solid #000;
  background: lightgreen;
  width: 100%;
  height: 100px;
  align-items: center;
}

.childflex div {
  margin: 0 5px;
  border: 2px solid #000;
  width: 100%;
  height: 50px;
  background: yellow;
}

.childflexmid1 {
  flex-wrap: wrap;
  height: 300px;
  width: 50%;
  background: lightcoral;
  border: 5px solid #000;
}

.childflexmid2 {
  flex-wrap: wrap;
  height: 150px;
  width: 50%;
  background: lightcoral;
  border: 5px solid #000;
}
