* {
  /* width: auto; */
  box-sizing: border-box;
  /* margin: 0; */
  /* padding: 0; */
}

body {
}

.main-container {
  padding: 15px;
  background: lightgreen;
  border: 5px solid navy;
  display: block;
}

/* this selector selects all divs inside of .flex-container */
.parentflex {
  display: flex;
  border: 5px solid red;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

.childflex {
  display: flex;
  margin: 10px;
  border: 3px solid purple;
  height: 150px;
  width: 150px;
  flex: 2;
}

.parentflex .grandchildflex {
  margin: 5px;
  width: 50%;
  height: 50%;
  border: 2px solid orange;
  justify-content: center;
  align-items: center;
}

.childflexmid1 {
}


.childflexmid2 {
}


